In [54]:
import numpy as np
import pandas as pd

In [55]:
smo = pd.read_csv('Downloads/smoke.csv')
smo

                            Entity      Code  Year Smoking mortality
0                      Afghanistan       AFG  1990         7.583.769
1             African Region (WHO)       WHO  1990         8.285.964
2                          Albania       ALB  1990        14.721.635
3                          Algeria       DZA  1990        14.394.376
4                   American Samoa       ASM  1990        15.573.251
...                            ...       ...   ...               ...
6835  Western Pacific Region (WHO)       NaN  2019        11.174.192
6836                         World  OWID_WRL  2019         9.560.785
6837                         Yemen       YEM  2019         1.372.956
6838                        Zambia       ZMB  2019         7.831.611
6839                      Zimbabwe       ZWE  2019           134.159

[6840 rows x 4 columns]

In [56]:
print(smo['Smoking mortality'].unique())

['7.583.769' '8.285.964' '14.721.635' ... '1.372.956' '7.831.611'
 '134.159']

In [57]:
smo['Smoking mortality'] = smo['Smoking mortality'].astype(str)

# Rimuovi i punti dalle stringhe nella colonna 'Smoking mortality' e converti in float
smo['Smoking mortality'] = smo['Smoking mortality'].str.replace('.', '').astype(float)

# Dividi ogni valore per un milione e moltiplica per mille
smo['Smoking mortality'] = smo['Smoking mortality'] / 1e6 * 1e3

# Stampa il dataframe smo
smo

                            Entity      Code  Year  Smoking mortality
0                      Afghanistan       AFG  1990    7583.7690000000
1             African Region (WHO)       WHO  1990    8285.9640000000
2                          Albania       ALB  1990   14721.6350000000
3                          Algeria       DZA  1990   14394.3760000000
4                   American Samoa       ASM  1990   15573.2510000000
...                            ...       ...   ...                ...
6835  Western Pacific Region (WHO)       NaN  2019   11174.1920000000
6836                         World  OWID_WRL  2019    9560.7850000000
6837                         Yemen       YEM  2019    1372.9560000000
6838                        Zambia       ZMB  2019    7831.6110000000
6839                      Zimbabwe       ZWE  2019     134.1590000000

[6840 rows x 4 columns]

In [59]:
def truncate_decimal(number):
    return int(number)

# Applica la funzione alla colonna 'Smoking mortality'
smo['Smoking mortality'] = smo['Smoking mortality'].apply(lambda x: truncate_decimal(x))

# Stampa il DataFrame per verificare le modifiche

                            Entity      Code  Year  Smoking mortality
0                      Afghanistan       AFG  1990               7583
1             African Region (WHO)       WHO  1990               8285
2                          Albania       ALB  1990              14721
3                          Algeria       DZA  1990              14394
4                   American Samoa       ASM  1990              15573
...                            ...       ...   ...                ...
6835  Western Pacific Region (WHO)       NaN  2019              11174
6836                         World  OWID_WRL  2019               9560
6837                         Yemen       YEM  2019               1372
6838                        Zambia       ZMB  2019               7831
6839                      Zimbabwe       ZWE  2019                134

[6840 rows x 4 columns]

In [62]:
smo.to_csv('smo1_data.csv', index=False)